<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-sm-flex align-items-center justify-content-between mb-2">
            <h1 class="h3 mb-0 text-gray-800">Usuarios</h1>
            <a routerLink="/users/form" class="btn btn-primary btn-sm btn-icon-split">
                <i class="fas fa-plus fa-sm"></i>
                Crear usuario
            </a>
        </div>
    </div>

    <div class="card-body">
<!--        <div class="search-container">-->
<!--            <input type="text" class="search-input" placeholder="Buscar...">-->
<!--            <button class="search-button">Buscar</button>-->
<!--        </div>-->
        <div class="table-responsive">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <div *ngIf="isLoading">
                    Cargando usuarios...
                </div>
                <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ getRoleName(user.role) }}</td>
                    <td>
                        <span [ngClass]="{ 'badge-light-success': user.state, 'badge-light-danger': !user.state }">
                            {{ user.state ? 'Activo' : 'Inactivo' }}
                        </span>
                    </td>
                    <td>
                        <a [routerLink]="['/users/form/', user._id ]"
                           class="icon-color btn btn-bg-light btn-sm btn-active-color-primary me-3"
                           title="Editar">
                            <i class="fas fa-edit fa-sm"></i>
                        </a>
                        <button type="button"
                                (click)="questionDeleteUser(user)"
                                class="icon-color btn btn-bg-light btn-active-color-danger btn-sm"
                                title="Eliminar">
                            <i class="fas fa-trash fa-sm"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!users.length">
                    <td colspan="6" class="text-center">No hay usuarios para mostrar</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
