<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-sm-flex align-items-center justify-content-between mb-2">
            <h1 class="h3 mb-0 text-gray-800">Citas médicas</h1>
            <a routerLink="/appointments/form" class="btn btn-primary btn-sm btn-icon-split">
                <i class="fas fa-plus fa-sm"></i>
                Crear cita médica
            </a>
        </div>
    </div>

    <div class="card-body">
        <!--        <div class="search-container">-->
        <!--            <input type="text" class="search-input" placeholder="Buscar...">-->
        <!--            <button class="search-button">Buscar</button>-->
        <!--        </div>-->
        <div class="table-responsive">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Paciente</th>
                    <th>Especialidad</th>
                    <th>Médico</th>
                    <th>Consultorio</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <div *ngIf="isLoading">
                    Cargando citas médicas...
                </div>
                <tbody>
                <tr *ngFor="let appointment of appointments">
                    <td>{{ appointment.date | date: 'dd/MM/yyy' }}</td>
                    <td> {{ appointment.time }}</td>
                    <td>{{ getPatientName(appointment.patient_id) }}</td>
                    <td>{{ getSpeciality(appointment.speciality_id).name }}</td>
                    <td>{{ getDoctorName(appointment.doctor_id) }}</td>
                    <td>{{ getSpeciality(appointment.speciality_id).consulting_room }}</td>
                    <td>
                        <span [ngClass]="{
                            'bg-warning border-warning': appointment.state === 1,
                            'bg-success border-success': appointment.state === 2,
                            'bg-danger border-danger': appointment.state === 3
                        }" class="text-white px-2 py-1 rounded">
                            {{ getAppointmentState(appointment.state) }}
                        </span>
                    </td>
                    <td>
                        <a [routerLink]="['/appointments/form/', appointment._id ]"
                           class="icon-color btn btn-bg-light btn-sm btn-active-color-primary me-3"
                           title="Editar">
                            <i class="fas fa-edit fa-sm"></i>
                        </a>
                        <button type="button"
                                (click)="questionDeleteAppointment(appointment)"
                                class="icon-color btn btn-bg-light btn-active-color-danger btn-sm"
                                title="Eliminar">
                            <i class="fas fa-trash fa-sm"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!appointments.length">
                    <td colspan="8" class="text-center">No hay citas médicas para mostrar</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
