<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-sm-flex align-items-center justify-content-between mb-2">
            <h1 class="h3 mb-0 text-gray-800">Pacientes</h1>
            <a routerLink="/patients/form" class="btn btn-primary btn-sm btn-icon-split">
                <i class="fas fa-plus fa-sm"></i>
                Crear paciente
            </a>
        </div>
    </div>

    <div class="card-body">
<!--        <div class="search-container">-->
<!--            <input type="text" class="search-input" placeholder="Buscar...">-->
<!--            <button class="search-button">Buscar</button>-->
<!--        </div>-->
        <div class="table-responsive">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Documento</th>
                    <th>Nombres</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <div *ngIf="isLoading">
                    Cargando pacientes...
                </div>
                <tbody>
                <tr *ngFor="let patient of patients">
                    <td>{{ patient.identification }}</td>
                    <td>{{ patient.name }} {{ patient.last_name }}</td>
                    <td>{{ patient.telephone }}</td>
                    <td>{{ patient.email }}</td>
                    <td>
                        <a [routerLink]="['/patients/history/', patient._id]"
                           class="btn-history btn-sm me-3"
                           title="Historial">
                            Historial
                        </a>
                        <a [routerLink]="['/patients/form/', patient._id ]"
                           class="icon-color btn btn-bg-light btn-sm btn-active-color-primary me-3"
                           title="Editar">
                            <i class="fas fa-edit fa-sm"></i>
                        </a>
                        <button type="button"
                                (click)="questionDeletePatient(patient)"
                                class="icon-color btn btn-bg-light btn-active-color-danger btn-sm"
                                title="Eliminar">
                            <i class="fas fa-trash fa-sm"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!patients.length">
                    <td colspan="5" class="text-center">No hay pacientes para mostrar</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
