.btn-history {
    background-color: #50CD89;
    color: white;
    border-radius: 5px!important;
    font-size: 13px;
    padding: 4px;
}

.btn-history:hover {
    background-color: darkgreen;
}

.icon-sm {
    font-size: 0.75em;
}

.btn-transparent {
    background-color: transparent;
    border: 2px solid;
    border-radius: 5px;
}

.btn-transparent.btn-historial {
    border-color: green;
    color: green;
}

.btn-transparent.btn-warning {
    border-color: orange;
    color: orange;
}

.btn-transparent.btn-danger {
    border-color: red;
    color: red;
}

.icon-colored {
    color: inherit; /* El color de los iconos heredará el color del botón */
}
