<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-sm-flex align-items-center justify-content-between mb-2">
            <h1 class="h3 mb-0 text-gray-800">Médicos</h1>
            <a routerLink="/doctors/form" class="btn btn-primary btn-sm btn-icon-split">
                <i class="fas fa-plus fa-sm"></i>
                Crear Médico
            </a>
        </div>
    </div>

    <div class="card-body">
<!--        <div class="search-container">-->
<!--            <input type="text" class="search-input" placeholder="Buscar...">-->
<!--            <button class="search-button">Buscar</button>-->
<!--        </div>-->
        <div class="table-responsive">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Documento</th>
                    <th>Nombres</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Especialidad</th>
<!--                    <th>Dirección</th>-->
                    <th style="width: 120px;">Acciones</th>
                </tr>
                </thead>
                <div *ngIf="isLoading">
                    Cargando médicos...
                </div>
                <tbody>
                <tr *ngFor="let doctor of doctors">
                    <td>{{ doctor.identification }}</td>
                    <td>{{ doctor.name }} {{ doctor.last_name }}</td>
                    <td>{{ doctor.telephone }}</td>
                    <td>{{ doctor.email }}</td>
                    <td>{{ getSpecialityName(doctor.speciality_id) }}</td>
<!--                    <td>{{ doctor.address }}</td>-->
                    <td>
                        <a [routerLink]="['/doctors/form/', doctor._id ]"
                           class="icon-color btn btn-bg-light btn-sm btn-active-color-primary me-3"
                           title="Editar">
                            <i class="fas fa-edit fa-sm"></i>
                        </a>
                        <button type="button"
                                (click)="questionDeleteDoctor(doctor)"
                                class="icon-color btn btn-bg-light btn-active-color-danger btn-sm"
                                title="Eliminar">
                            <i class="fas fa-trash fa-sm"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!doctors.length">
                    <td colspan="6" class="text-center">No hay médicos para mostrar</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
