<div class="sidebar">
  <div class="logo">
    <a routerLink="/">

      <img ngSrc="/assets/media/images/magnamedic(2).png"
           alt="Logo de Mi Empresa" height="208" width="390" priority />
    </a>
  </div>
  <ul>
    <hr/>
    <li>
      <i class="fas fa-fw fa-home"></i>
      <a routerLink="/"><span>Inicio</span></a>
    </li>
    <hr/>

    <li>
      <i class="fas fa-fw fa-calendar"></i>
      <a routerLink="/medical-appointments"><span>Citas médicas</span></a>
    </li>
    <li>
      <i class="fas fa-fw fa-users"></i>
      <a routerLink="/patients/list" routerLinkActive="active-link">
        <span>Pacientes</span></a>
    </li>
    <hr/>

    <li>
      <i class="fas fa-fw fa-stethoscope"></i>
      <a routerLink="/doctors"><span>Médicos</span></a>
    </li>
    <li>
      <i class="fas fa-fw fa-kit-medical"></i>
      <a routerLink="/medical-specialities"><span>Especialidades médicas</span></a>
    </li>
    <hr/>

    <li>
      <i class="fas fa-fw fa-users"></i>
      <a routerLink="/users"><span>Usuarios</span></a>
    </li>
    <li>
      <i class="fas fa-fw fa-chart-area"></i>
      <a routerLink="/reports"><span>Reportes</span></a>
    </li>
  </ul>
</div>
