<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="h3 mb-0 text-gray-800">{{ isEditMode ? 'Editar cita médica' : 'Crear cita médica' }}</h1>
    </div>

    <div class="card-body">
        <form [formGroup]="appointmentForm">
            <div class="form-row">
                <div class="form-group col-md-6 pr-3">
                    <label>Paciente:</label>
                    <ng-select
                        [items]="filteredPatients"
                        bindLabel="name"
                        bindValue="_id"
                        [placeholder]="'Seleccione un paciente'"
                        formControlName="patient_id"
                        (change)="onPatientChange($event)"
                        [searchable]="true">
                        <ng-template ng-label-tmp let-item="item">
                            {{ item.identification }} - {{ item.name }}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item">
                            {{ item.identification }} - {{ item.name }}
                        </ng-template>
                    </ng-select>
                </div>
                <div class="form-group col-md-6">
                    <label>Estado:</label>
                    <div>
                        <label class="radius-state">
                            <input type="radio" formControlName="state" [value]="1" class="mr-3">
                            Pendiente
                        </label>
                        <label>
                            <input type="radio" formControlName="state" [value]="0">
                            Atendida
                        </label>

                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Especialidad:</label>
                    <select name="speciality_id"
                            class="form-control"
                            formControlName="speciality_id"
                    >
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option *ngFor="let speciality of specialities"
                                [value]="speciality._id"
                        >
                            {{ speciality.name }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Médico:</label>
                    <select name="doctor_id"
                            class="form-control"
                            formControlName="doctor_id"
                    >
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option *ngFor="let doctor of doctors"
                                [value]="doctor._id"
                        >
                            {{ doctor.name }} {{ doctor.last_name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Fecha:</label>
                    <input type="date" formControlName="date" [min]="minDate" class="form-control" required>
                </div>

                <div class="form-group col-md-6">
                    <label>Hora:</label>
                    <input type="time" formControlName="time" [min]="minTime" [max]="maxTime" class="form-control" required>
                    <div *ngIf="appointmentForm.get('time')?.errors?.['outOfRange']" class="text-danger">
                        La hora debe estar entre las 07:00 y las 18:00.
                    </div>
                </div>

            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-12">
                    <label>Observaciones:</label>
                    <textarea
                        name="observations"
                        class="form-control"
                        formControlName="observations"
                    ></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <a routerLink="/appointments/list" class="btn btn-secondary btn-sm mt-2 mx-1">
                        <i class="fas fa-fw fa-arrow-left"></i>
                        Cancelar
                    </a>
                    <button class="btn btn-primary btn-sm mt-2 mx-1"
                            [disabled]="appointmentForm.invalid"
                            (click)="submit()">
                        {{ isEditMode ? 'Actualizar' : 'Guardar' }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
